*{
  padding: 0;
  margin: 0;
  display: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

#green{
  color: green;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

header{
  height: 36px;
  width: 100%;
  position: fixed;
  background-color: black;
  text-align: right;
  line-height: 1.5;
}

main{
  flex-wrap: wrap;
  margin: auto;
  padding: 80px;
  background-color: black;
}

footer{
  height: 80px;
  background-color: #222222;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}



/* HEADER */

.bhead{
  background-color: #4A4A4A;
  color: white;
  border-radius: 25px;
  padding: 4px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

/* MAIN */

.persona{
  height: 180px;
  width: 250px;
  margin: 2px;
  background-image: url(img/montagne.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nome{
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  color: white;
}

/* FOOTER */

footer ul{
  list-style: none;
}

footer ul li{
  text-decoration: none;
  padding: 10px;
}

footer ul i{
  font-size: 25px;
}

.f-right{
  font-weight: 500;
  padding: 29px;
  background-color: #4A4A4A;
  color: red;
}